{% extends '_base.html' %}

{% block title %} AI {% endblock title %}


{% block content %}
    
<div class="row">
    <h1>ArtFai</h1>
    <div class="container">
      <div class="input-group">
        <form action="" method="post">
          {% csrf_token %}
          {{ form }}
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>

  

  &nbsp;
  <div class="card-container">
    <div class="row">
      <div class="col">
        <div class="card">
          <h2>Harvard API - Images</h2>
          <p>Information goes here</p>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h2>Harvard API Text</h2>
          <p>Information goes here</p>
        </div>
      </div>
    </div>
  </div>
  
{% endblock content %}  

